# Dépendances
/node_modules
/package-lock.json

# Artefacts de build
/dist
/build
/out
/releases
/*.exe
/*.dmg
/*.snap
/*.AppImage

# Fichiers de configuration
.env
.env.local

# Journalisation
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Système d'exploitation
.DS_Store
Thumbs.db
