.right{
    background-color: #111111;
    width: 85%;
}

.arrow-container {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #434343;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-arrows  {
    display: flex;
    align-items: center;
}

.arrow-container {
    margin-right: 15px !important;
}

.playlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playlist-header {
    padding: 20px;
}

.playlist-top-email {
    display: flex;
    align-items: center;
    background-color: #434343;
    border-radius: 20px;
    color:white;
}

.playlist-header .arrow-container {
    background-color: #535353;
    margin: 2px;
}

.playlist-top-email span {
    padding: 0 10px;
}


.playlist-header {
background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(119,119,119,1) 100%);
}

.playlist-content {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-top: 20px;
}


.playlist-buttons-left, .playlist-buttons-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist-buttons-resume-pause {
    background-color: var(--spotify-green);
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playlist-buttons-like svg path{
    fill: var(--spotify-green) ;
}

.playlist-buttons-like {
    margin-left: 20px;
}

.playlist-songs-container {
    height: fit-content;
    padding: 20px;
    background: rgb(95,95,95);
background: linear-gradient(180deg, rgba(95,95,95,1) 0%, rgba(18,18,18,1) 22%, rgba(18,18,18,1) 100%);
}

.playlist-buttons-download, .playlist-buttons-three-dot {
    margin-left: 20px;
}

.playlist-buttons-download svg path, .playlist-buttons-three-dot svg path, .playlist-buttons-search svg path {
    fill: #CACACA;
}

.playlist-buttons {
    display: flex;
    justify-content: space-between;
}

.playlist-buttons-order {
    color:#CACACA;
}

.playlist-buttons-order {
    padding-left: 20px;
}

.playlist-songs {
    margin-top: 20px;
}

.playlist-songs table {
    border-collapse: collapse;
    width: 100%;
}

.playlist-songs table tr td, .playlist-songs table tr th {
    padding: 10px;
    color: #CACACA;
}

.playlist-songs table tr th {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 2px;
}


.playlist-songs table tr:first-of-type {
    border-bottom: 1px solid #CACACA;
}

.playlist-songs table th {
    text-align: left;
}

.playlist-songs table tr th:first-child{
    width: 2%;
}

.playlist-songs table tr th:nth-child(2) {
    width: 40%;
}


