.song-image img {
    width: 34px;
    height: 34px;
}

.song-title {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.song-name-album {
    padding-left: 15px;
    letter-spacing: 0.5px;
}

.song-name, .footer-player-left-song-name {
    font-weight: 400;
    font-size:14px;
    color: white;
}

.song-artist, .song-album, .song-date-added, .footer-player-left-song-artist, .player-time, .song-duration {
    font-size: 12px;
    margin-top: 6px;
    color: #898989 !important;
}